.container-fluid{
    background-color:#222222;
}

#test1,#test2,#test3{
    color:azure;
}

#test1:hover,#test2:hover,#test3:hover
{
    color:azure;
}

body{
    background-color:azure;
}

.active{
    color:azure;
}